.container {
  width: 100%;
  padding-right: var(--size-2);
  padding-left: var(--size-2);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 50rem) {
  .container {
    padding-right: var(--size-5);
    padding-left: var(--size-5);
  }
}

code {
  margin-top: var(--size-1);
  padding: var(--size-2);
  background-color: var(--gray-2);
  width: 100%;
  display: block;
}

h2, h3, h4, h5 {
  background: var(--gradient-23);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-summary {
  border-left: var(--border-size-3) solid var(--indigo-7);
  margin-top: var(--size-3);
  margin-bottom: var(--size-2);
  padding-left: var(--size-2);
}


section {
  border-bottom: var(--border-size-1) solid var(--blue-5);
  padding: var(--size-5) 0;
}

.demo-box {
  inline-size: var(--size-11);
  display: grid;
  place-content: center;
  aspect-ratio: var(--ratio-square);
  border-radius: var(--radius-3);
  background-color: white;
}



