.border {
  border: 1px solid var(--gray-7);
}

.border-top {
  border-top: 1px solid var(---gray-7);
}

.border-bottom {
  border-bottom: 1px solid var(---gray-7);
}

.border-left {
  border-left: 1px solid var(---gray-7);
}

.border-right {
  border-right: 1px solid var(--gray-7);
}

@for $size from 1 through 6 {
  .border-radius-#{$size} {
    border-radius: var(--radius-#{$size});
  }
}

.border-rounded {
  border-radius: 50%;
}
