@each $type in (margin, padding) {
  @for $s from 1 through 10 {
    .#{$type}-#{$s} {
      #{$type}: var(--size-#{$s});
    }

    .#{$type}-x-#{$s} {
      #{$type}-left: var(--size-#{$s});
      #{$type}-right: var(--size-#{$s});
    }

    .#{$type}-y-#{$s} {
      #{$type}-top: var(--size-#{$s});
      #{$type}-bottom: var(--size-#{$s});
    }

    @each $side in (top, left, right, bottom) {
      .#{$type}-#{$side}-#{$s} {
        #{$type}-#{$side}: var(--size-#{$s});
      }
    }
  }
}

.margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.margin-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}