$colors: gray,red, pink, grape, violet, indigo, blue, cyan, teal, green, lime, yellow, orange;
@each $color in $colors {
  @each $i in (3, 7, 5, 9) {
    .text-#{"" + $color}-#{$i} {
      color: var(--#{$color}-#{$i});
    }
  }
};

@for $size from 0 through 8 {
  .font-size-#{$size} {
    font-size: var(--font-size-#{$size});
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-wrap {
  white-space: normal;
}

.text-nowrap {
  white-space: nowrap;
}

.text-break-word {
  word-wrap: break-word;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}