.btn {
  display: inline-block;
  padding: var(--size-1) var(--size-3);
  border-radius: var(--radius-2);
  background-origin: border-box; // Invisible borders with linear gradients
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    transition: filter 250ms, color 200ms;
  }

  &--primary {
    color: var(--gray-0);
    background-color: var(--indigo-6);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--gray-0);
      filter: brightness(92%);
    }
  }

  &--secondary {
    color: var(--gray-0);
    background-color: var(--green-7);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--gray-0);
      filter: saturate(1.1) brightness(105%);
    }
  }

  &--light {
    color: var(--gray-8);
    background-color: var(--gray-1);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--gray-8);
      filter: brightness(92%);
    }
  }

  &--dark {
    color: var(--gray-0);
    border-color: var(--gray-8);
    background-color: var(--gray-8);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--gray-0);
      filter: brightness(112%);
    }
  }
}