.flash {
  padding: 0 var(--size-2);
  border-radius: var(--radius-3);
  max-inline-size: var(--size-fluid-9);

  &__message {
    font-size: var(--font-size-2);
    color: var(--gray-0);
    padding: var(--size-2) var(--size-4);
  }
}

.flash-danger {
  background-color: var(--red-6);
}

.flash-success {
  background-color: var(--green-6);
}

.flash-warning {
  background-color: var(--yellow-6);
}

.flash-animation {
  animation: appear-then-fade 4s both;
}