.navbar {
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-3);
  padding: var(--size-2) var(--size-3);
  background-color: (var(--gray-0));

  &__brand {
    font-weight: bold;
    font-size: var(--font-size-3);
    color: var(--gray-7);
  }

  &__name {
    font-weight: bold;
    margin-left: auto;
    margin-right: var(--size-1);
    color: var(--gray-7);
  }

  &__right {
    margin-left: auto;
  }

  &--md {
    @include media(tabletAndUp) {
      display: none;
    }
  }
}