.sidebar {
  position: fixed;
  width: auto;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;

  &__curtain {
    position: absolute;
    inset: 0;
    background-color: var(--gray-4);
    z-index: 0;
  }

  @include media(tabletAndUp) {
    position: static;
    width: 300px;
    opacity: 1;
    visibility: visible;

    &__curtain {
      display: none;
    }
  }
}

.sidebar-toggle {
  display: none;
}

.sidebar__container {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: var(--gray-2);
  overflow: auto;
  width: 300px;
  z-index: 1;
  padding: 12px;
  border-radius: var(--border-radius);
}

.sidebar__item {
  padding: 18px 24px;
  display: flex;
  text-decoration: none;
  line-height: 20px;
  font-size: var(--font-size-1);
  font-weight: 500;
  align-items: center;
  position: relative;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  position: relative;
  display: flex;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    filter: brightness(120%);
  }

  &__icon {
    height: 20px;
    width: 20px;
    margin: -2px -8px -2px 12px;
    color: var(--blue-5);
  }
  
  &__label {
    flex-grow: 1;
  }
}

.sidebar-toggle:checked + .sidebar,
.sidebar--open {
  opacity: 1;
  visibility: visible;

  .sidebar__container {
    transform: translateX(0);
  }
}